<section>
  <header class="candy-name text-left">
    {{name}}
    {{#if isDiscountAllowed}}
      <button class="btn-coupon" {{action "applyCoupon"}}>use coupon</button>
    {{/if}}
  </header>
  <img src= {{url}} alt="candy image" class="rounded-border candy-image" />
  <footer class="candy-footer">
    {{#if isCouponApplied}}
      <span class="price">${{discountedPrice}}</span>
    {{else}}
      <span class="price">${{price}}</span>
    {{/if}}
    <button {{action addToCart id}} class="btn-cart">add to cart</button>
  </footer>
</section>